<p-progressSpinner
  class="flex align-items-center justify-content-center"
  [style]="{ width: '250px', height: '600px' }"
  *ngIf="dataLoaded == false"
>
</p-progressSpinner>


<span
  class="flex-initial flex align-items-center mt-3 justify-content-center bg-green-600 font-bold text-white px-5 py-3 border-round"
  *ngIf="dataLoaded == true"
  >Pandemi Süresince En Çok Okunan Covid 19 Haberleri</span
>

<div class="card mt-3 m-1" *ngIf="dataLoaded == true">
  <p-table [value]="newsData.result" responsiveLayout="scroll" [rows]="5"
  [paginator]="true"
  [rowsPerPageOptions]="[5, 10, 15]">

    <ng-template pTemplate="header">
        <tr>
            <th>Haber Kaynağı</th>
            <th>Görsel</th>
            <th>Başlık</th>
            <th>Haber Tarihi</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-covidNews>
        <tr>
            <td>{{covidNews?.source}}</td>
            <td><img [src]="covidNews?.image" [alt]="covidNews.name" width="100" class="shadow-4" /></td>
            <td><a target="_blank" [href]="covidNews?.url">{{covidNews?.name | uppercase}}</a></td>
            <td>{{covidNews?.date | date :'shortDate'}}</td>

        </tr>
    </ng-template>

</p-table>


</div>
